.canvasContainer {
    margin: auto;
}

#miCanvas {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

a {
    cursor: pointer;
    padding: 1em;
}

.desktopMenu {
    display: none;
}

@media only screen and (min-width: 992px){

    #miCanvas {
        /* width: 600px; */
        height: 570px;
    }

    .mobileMenu {
        display: none;
    }
    .desktopMenu {
        display: block;
        padding: 1em;
        width: 30vw;
        border-right: 1px solid gray;
    }
    .desktopMenuFunctions{
        height: 100%;
    }
}